<div class="login-container">
  <div class="login-box">
    <h1 class="login-title">Acesse sua conta</h1>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <div class="form-group">
        <label for="username">E-mail</label>
        <input
          id="username"
          type="email"
          formControlName="username"
          placeholder="Digite seu e-mail"
        />
        <div class="error-message" *ngIf='verifyControlUsername()'>
          E-mail inválido
        </div>
      </div>

      <div class="form-group">
        <label for="password">Senha</label>
        <input
          id="password"
          type="password"
          formControlName="password"
          placeholder="Digite sua senha"
        />
        <div class="error-message" *ngIf='verifyControlPassword()'>
          A senha é obrigatória
        </div>
      </div>

      <button type="submit" [disabled]="form.invalid" class="login-button">Entrar</button>
    </form>

    <div class="login-footer">
      <a href="#">Esqueci minha senha</a>
    </div>
  </div>
</div>
